.panel.panel-default
  .panel-heading
    .panel-title
      Edit <%= singular_table_name.titleize %>
      .pull-right
        = link_to 'Show', <%= singular_table_name %>, class: 'btn btn-info'
        = link_to t('back',to: "<%= plural_table_name.titleize %>").html_safe, <%= index_helper %>_path, class: 'btn btn-default'
  .panel-body
    = render 'form'


