.page-header
  %h1
    New <%= singular_table_name.titleize %>
    .pull-right
      = link_to t('back',to: "<%= plural_table_name.titleize %>").html_safe, <%= index_helper %>_path, :class => 'btn btn-default'
= render 'form'

