.panel.panel-default
  .panel-heading
    .panel-title
      <%= plural_table_name.capitalize %>
      .pull-right
        = link_to t('new', model_name: ''<%= singular_table_name.titleize %>'' ).html_safe, new_<%= singular_table_name %>_path, :class => 'btn btn-primary'

  .panel-body
    %table#<%= plural_table_name %>.table.table-bordered.table-striped.dataTable{:data => {:source => <%= plural_table_name %>_url(:format => 'json')}}
      %thead
        %tr
    <% for attribute in attributes -%>
      %th <%= attribute.human_name %>
    <% end -%>
        %th
      %tbody
